.warning {
  color:#E01765;
  margin: 0;
  padding: 2px;
  font-size: 22px;
}

.success {
  color:#33cc33;
  margin: 0;
  padding: 2px;
  font-size: 22px;
}

.form {
  padding: 60px 15px 60px 10px;
  max-width: 700px;
  margin: 0 auto;
  .inputs {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    label {
      font-size: 30px;
      display: block;
      text-align: left;
      width: 330px;
      margin: 10px 0;
      @media (max-width: 900px) {
        width: 100%;
      }
    }
    input {
      padding-left: 5px;
      display: block;
      width: 100%;
      border-radius: 0;
      -webkit-appearance: none;
      @media only screen 
        and (min-device-width: 414px) 
        and (max-device-width: 736px) 
        and (-webkit-min-device-pixel-ratio: 3) { 
          width: 98%;
      }
    }
  }

  .textarea {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    label {
      font-size: 30px;
      display: block;
      text-align: left;
      margin: 10px 0px;
      width: 700px;
      @media (max-width: 900px) {
        width: 100%;
      }
    }
    textarea {
      -webkit-appearance: none;
      padding-left: 5px;
      position: relative;
      background-color: #F5F4F0;
      border: none;
      border-radius: 0;
      height: 400px!important;
      color: #323330;
      font-size: 22px;
      width: 100%;
      @media (max-width: 900px) {
        width: 100%;
      }
    }
  }
  .contact-button {
    left: 5px;
    position: relative;
  }
}