.projects-yellow {
  color: #323330;
  background-color: #F5F4F0;
  text-align: center;
  font-weight: 200;
  .main-title {
    
    font-size: 36px;
    padding: 20px 0 10px;
    margin: 0px;
  }

  .small-image {
    max-width: 600px;
  }
  p {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 20px 20px;
    font-size: 26px;
  }
}