<div class="container">
  <div class="hero-banner">
    <h1 class="hero-title">/* Contact Us */</h1>
    <div class="form">
      <div class="inputs">
        <label>Name
        <input type="text" placeholder="enter name"></input>
        </label>
        <label>Email
        <input type="email" placeholder="enter email address"></input>
        </label>
      </div>
      <div class="textarea">
      <label>Message
        <textarea rows="10" name=""  placeholder="what do you want to talk about?"></textarea>
      </label>
      </div>
      <a class="button-secondary right contact-button" href="" title="">Send</a>
      <div class="clear"></div>
    </div>
  </div>
</div>