<div class="container">
  <div class="hero-banner">
    <h1 class="hero-title">/* Meetups */</h1>
    <div class="hero-image-flex">
      <img class="hero-image-large fadeIn animated" ng-src="img/meetups.svg" alt="">
    </div>
  </div>

  <div class="meetup-yellow">
    <div class="main-title">
      Current Meetups
    </div>
    <div class="meetups center" ng-if="!$ctrl.events">
      <img ng-src="./img/ring-alt.gif" alt="">
    </div>
    <div class="meetups" ng-if="$ctrl.events">
      <div class="meetup" ng-repeat="event in $ctrl.events">
        <span class="date">{{event.when}}</span>
        <span class="time">{{event.time}}</span>
        <div class="meetups-header">Location</div>
        <div class="meetups-name" ng-bind-html="event.whereName"></div>
        <div class="meetups-name" ng-bind-html="event.wherePlace"></div>
        <div class="meetups-header">Topics</div>
        <div class="topics" >
          <div class="topic" ng-repeat="topic in event.topics">* {{topic}}</div>
        </div>
        <a class="button-secondary" href="{{event.url}}" target="_blank">Full Meetup Notes</a>
      </div>
    </div>
  </div>

  <newsletter></newsletter>
</div>