<div class="container">
  <div class="hero-banner">
    <h1 class="hero-title">/* Meetups */</h1>
    <div class="hero-image-flex">
      <img class="hero-image-large fadeIn animated" ng-src="img/meetups.svg" alt="">
    </div>
  </div>

  <div class="meetup-yellow">
    <div class="main-title">
      Current Meetups
    </div>
    <div class="meetups">
      <div class="meetup">
        <span class="date">April 15, 2015</span>
        <span class="time">6:00pm - 8:00pm</span>
        <div class="meetups-header">Location</div>
        <div class="meetups-name">36 Degrees North</div>
        <div class="meetups-name">
          36 East Cameron Street Tulsa, OK 74103
        </div>
        <div class="meetups-header">Topics</div>
        <div class="topics">
          <div class="topic">* Angular es6</div>
          <div class="topic">* React with Redux</div>
          <div class="topic">* Jquery Spaghetti</div>
          <div class="topic">* CycleJS</div>
        </div>
        <a class="button-secondary">Full Meetup Notes</a>
      </div>
      <div class="meetup">
        <span class="date">April 15, 2015</span>
        <span class="time">6:00pm - 8:00pm</span>
        <div class="meetups-header">Location</div>
        <div class="meetups-name">36 Degrees North</div>
        <div class="meetups-name">
          36 East Cameron Street Tulsa, OK 74103
        </div>
        <div class="meetups-header">Topics</div>
        <div class="topics">
          <div class="topic">* Angular es6</div>
          <div class="topic">* React with Redux</div>
          <div class="topic">* Jquery Spaghetti</div>
          <div class="topic">* CycleJS</div>
        </div>
        <a class="button-secondary">Full Meetup Notes</a>
      </div>
    </div>
  </div>

  <div class="newsletter">
    <div class="main-title">
      Signup for the Newsletter
    </div>
    <div class="email">
      <input type="email" placeholder="enter email address"></input>
      <a class="button-secondary">Subscribe</a>
    </div>
  </div>
</div>