<div class="container-fluid">
  <div class="footer">
    <div class="footer-content">
      <h3 class="social">Connect socially with TulsaJS</h3>
      <div class="social-icons">
        <ul>
          <li>
            <a href="" target="_blank">
              <img ng-src="img/facebook.svg" alt="facebook">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/tulsajs" target="_blank">
              <img ng-src="img/twitter.svg" alt="twitter">
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <img ng-src="img/reddit.svg" alt="reddit">
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <img ng-src="img/google-plus.svg" alt="google plus">
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <img ng-src="img/slack-bottom.svg" alt="slack">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-links">
        <a ui-sref="base">Home</a> |
        <a ui-sref="base.about">About</a> |
        <a ui-sref="base.meetups">Meetups</a> |
        <a ui-sref="base.projects">Projects</a> |
        <a ui-sref="base.contact">Contact</a> 
      </div>
      <div class="copyright">
        © TulsaJS. All rights reserved
      </div>
    </div>
  </div>
</div>