.button {
  font-size: 22px;
  padding: 8px 20px;
  color: #F7DC4C!important;
  background-color: #323330;
  &:hover {
    background-color: #3F403C;
    cursor: pointer;
  }
}

.button-secondary {
  font-size: 22px;
  padding: 8px 20px;
  background-color: #F7DC4C;
  color: #323330!important;
  &:hover {
    background-color: #F7DF62;
    cursor: pointer;
  }
}