<div class="container">
  <div class="hero-banner">
    <h1 class="hero-title">/* Welcome to TulsaJS */</h1>
    <a class="hero-button button-secondary" href="https://tulsajs.signup.team/" target="_blank"> 
      <span>Join our</span> <img ng-src="img/slack.svg" alt="">
    </a>
    <div class="hero-image-flex">
      <img class="hero-image bounceInLeft animated" ng-src="img/guy.svg" alt="">
    </div>
  </div>
  <div class="next-meetup">
    <h2 class="main-title">Next Meetup</h2>
    
    <div class="meetup-flex">
      <div class="meetup-info center" ng-if="!$ctrl.event">
        <img ng-src="./img/ring-alt.gif" alt="">
      </div>
      <div class="meetup-info" ng-if="$ctrl.event">
        <div class="info">
          <div class="title">Location</div>
          <div class="description">
            <p>{{$ctrl.event.whereName}}</p>
          </div>
        </div>
        <div class="info">
          <div class="title">Time</div>
          <div class="description">
            <p>{{$ctrl.event.when + ' ' + $ctrl.event.time}}</p>
          </div>
        </div>
        <div class="more-info">
          <a class="button right" href="{{$ctrl.event.url}}" target="_blank">More Info</a>
        </div>
      </div>
      <div id="map" class="meetup-map">
      </div>
    </div>
  </div>

  <newsletter></newsletter>
  
  <div class="technologies">
    <div class="main-title">
      Example Technologies Covered
    </div>
    <div class="logo-technologies">
      <a href="https://angularjs.org/" target="_blank"><img ng-src="img/angular-icon.svg" alt="https://angularjs.org/"></a>
      <a href="https://karma-runner.github.io/0.13/index.html" target="_blank"><img ng-src="img/karma.svg"  alt="https://karma-runner.github.io/0.13/index.html"></a>
      <a href="http://gulpjs.com/" target="_blank"><img ng-src="img/gulp.svg" alt="http://gulpjs.com/"></a>
      <a href="https://facebook.github.io/react/" target="_blank"><img ng-src="img/react.svg" alt="https://facebook.github.io/react/"></a>
      <a href="https://nodejs.org/en/" target="_blank"><img ng-src="img/nodejs-icon.svg" alt="https://nodejs.org/en/"></a>
    </div>
  </div>

  <div class="sponsors">
    <div class="main-title">
      Sponsors
    </div>
    <div class="sponsors-logo">
      <a href="http://madebymunsters.com/" target="_blank"><img ng-src="img/mbm.svg" alt="Made By Munsters"></a>
      <a href="http://www.36degreesnorth.co/" target="_blank"><img ng-src="img/36degrees.png" alt="36 Degrees North"></a>
    </div>
    <div class="sponsors-cta">
    <a ui-sref="base.contact">Become a Sponsor!</a>
    </div>
  </div>
</div>