<div class="container">
  <div class="hero-banner">
    <h1 class="hero-title">/* Projects */</h1>
    <div class="hero-image-flex">
      <img class="hero-image-large pad-bottom slideInLeft animated" ng-src="img/projects.svg" alt="">
    </div>
  </div>
  
  <div class="projects-yellow">
    <div class="main-title">
      Current Projects
    </div>
    <img class="small-image pad-bottom fadeIn animated" ng-src="img/Whiteboard1.svg" alt="">
    <p>
    No projects currently started. If you have a project you would like help on, please contact us to get it added to the project board.
    </p>
  </div>
  <newsletter></newsletter>
</div>