<div class="container">
  <div class="hero-banner">
    <h1 class="hero-title">/* About TulsaJS */</h1>
    <div class="hero-image-flex">
      <img class="hero-image bounceInLeft animated" ng-src="img/guy.svg" alt="">
      <img class="hero-image-smaller bounceInRight animated" ng-src="img/guy2.svg" alt="">
    </div>
  </div>

  <div class="about-yellow">
    <div class="main-title">
      Why Join Us?
    </div>
    <p>
    TulsaJS is the place to come and learn about all things javascript. Whether your a seasoned javascript developer or you are just starting your development career, we are always looking to expand our user base. We are a fairly new user group, however we plan to have meetups twice a month. For more info visit our (Meetups Page).
    </p>
  </div>
  <div class="about-black">
    <div class="main-title">
      Why Another Tulsa Dev Meetup?
    </div>
    <p>
      For anyone who has been to the TulsaWebDevs meetups, you may ask why another user group. For you I ask, why not? Some developers may get deterred from a larger group meetup and smaller groups may be more welcoming. In addition Tulsa could use some healthy expanding within the development community.
    </p>
  </div>
  <div class="about-yellow">
    <div class="main-title">
      How Can TulsaJS Help You?
    </div>
    <p>
      You may ask yourself, how can TulsaJS possibly help the development community and more importantly yourself? Well we plan to have meetups twice a month and mix interaction with tutorials. Want to learn the newest javascript framework? Need to sharpen your vanilla javascript skills? We have something for everyone.
    </p>
  </div>
  <div class="about-black">
    <div class="main-title">
      Who Are The Organizers?
    </div>
    <div class="organizer">
      <img ng-src="img/josh.jpeg" alt="">
      <div class="info">
        <div class="name">Josh Hamilton</div>
        <div class="about-organizer">Josh is a passionate developer. His knack for problem solving is only succeeded by his love for learning. He spends his off hours soaking up new open source projects. He currently lives in Tulsa with his wife, Jessica.</div>
        <div class="social-organizer">
          <a><img ng-src="img/twitter.svg" alt=""> <span>nearbycoder</span></a>
        </div>
      </div>
    </div>
  </div>
</div>